<%
var title = 'ONLY IMAGINATION MAKES YOU STRONGER.'
%>
<%- include('/partials/header', { title }) -%>

<main role="main">
    <div class="wrapper">
        <canvas id="canvas"></canvas>
    </div>
</main>

<%- include('/partials/footer') -%>
