<footer class="footer">
    <div class="footer-content">
        <address class="copy">&copy; Hideaki Hamada.</address>
        <a href="" class="privacy">privacy policy</a>
    </div>
</footer>
<div class="modal">
    <div class="modal-inner">
        <p class="modal-heading">Privacy Policy</p>
        <p class="modal-text">
            This website doesn't upload your photos and sns account name to the server.<br>
            Only creating image on your device.<br>
            This website get access log using Google Analytics.
        </p>
        <a class="close" href=""></a>
    </div>
</div>
  <script src="<%= mix('/assets/js/app.js') %>"></script>
</body>
</html>
