$w:375px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  width: 100vw;
  height: 100%;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  background: #bbbbbb;
}

ul {
  list-style: none;
}

svg {
  fill: #ffffff;
  width: 30px;
  height: 30px;
}

.header {
  background: #000000;
  height: 60px;
  color: #ffffff;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 199;
}

.header-content {
  padding: 0 20px;
  display: flex;
  width: $w;
  margin: 0 auto;
  justify-content: space-between;
}

h1 svg {
  width: 120px;
  height: 23.55px;
  font-size: 1em;
  margin-top: 18px;
}

.nav {
  display: flex;
}

.menu-item {
  font-size: 1em;
  margin-left: 20px;
  margin-top: 15px;
  &:hover {
    cursor: pointer;
  }
}

.input-wrapper {
  display: none;
}

.input-wrapper.is-visible {
  display: block;
  position: absolute;
  top: 60px;
  height: 80px;
  width: 100%;
  background: #000000;
  z-index: 200;
}

.input {
  width: $w;
  margin: 0 auto;
  padding: 10px 20px;
}

.input-heading {
  font-size: 12px;
  margin-bottom: 7px;
}

.input-content {
  display: flex;
  justify-content: space-between;
}

.input-text {
  height: 30px;
  width: 240px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  outline: none;
  background: #ffffff;
}

.button {
  appearance: none;
  width: 80px;
  height: 30px;
  padding: 0;
  border: none;
  outline: none;
  background: #ffffff;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
  &:hover {
    cursor: pointer;
  }
}

.wrapper {
  width: $w;
  margin: 0 auto;
  position: relative;
  height: calc(100% - 60px);
}

canvas {
  width: $w;
  height: 2472/1748*$w;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

// Required
.svg-sprite {
  display: none;
}

#file {
  display: none;
}

/*
howto step
 */
.step-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #ffffff;
}

.step {
  display: flex;
  width: 280px;
  margin: 30px auto;
}

.step-icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  svg {
    height: 55px;
  }
}

.step-heading {
  font-size: 16px;
  display: inline-block;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 2px;
}

.step-text {
  font-size: 24px;
}